/*root-style*/

@font-face{
    font-family: 'robotoregular';
    src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('./fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.main-grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "sidebar header header header header"
    "sidebar main-content main-content main-content announcement-and-trending"
    "sidebar main-content main-content main-content announcement-and-trending"
    "sidebar main-content main-content main-content announcement-and-trending";
}

/*header-styles*/

.header{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 20px 60px;
    gap: 30px 40px;
    box-shadow: 0px 5px 10px rgb(177, 177, 177);
}
.header-browser{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
}
.header-browser svg{
    width: 1.8rem
}
.header-browser>input{
    background-color: rgb(220, 220, 220);
    border: none;
    border-radius: 25px;
    height: 30px;
    flex: 1;
    padding-left: 20px;
    font-size: 1rem;
    font-family: robotoregular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-browser>input:focus{
    outline: none;
}
.header-browser>input::-webkit-search-cancel-button{
    appearance: none;
}

.header-top-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}
.header-top-right img{
    border-radius: 50%;
    width: 2.7rem;
}
.header-top-right input{
    font-size: 1.4rem;
    font-weight: bold;
    font-family: robotoregular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-profile{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-profile img{
    border-radius: 50%;
    width: 4.2rem;
}
.header-profile>.header-profile-user>.greetings{
    font-size: 1.1rem;
    font-weight: bold;
    font-family: robotoregular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-profile>.header-profile-user>input{
    font-size: 1.8rem;
    font-weight: bold;
    font-family: robotoregular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-bottom-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: robotoregular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-bottom-right button{
    padding: 8px 24px;
    border-radius: 25px;
    color: white;
    border: none;
    background-color: rgb(45, 157, 255);
    font-size: 1.1rem;
}
.header-bottom-right button:hover{
    color: black;
    background-color: aquamarine;
    cursor: pointer;
}

/*sidebar-styles*/

.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    gap: 50px;
    padding: 15px;
    background-color: rgb(45, 157, 255);
    color: white;
    align-content: start;
}
.sidebar, .sidebar-navigation-heading, .sidebar-navigation{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sidebar svg{
    fill: white;
}
.sidebar-navigation-heading{
    gap: 14px;;
}
.sidebar-navigation-heading>svg {
    width: 3.5rem;
}
.sidebar-navigation-heading>h1{
    font-size: 2.5rem;
    font-family: robotoregular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sidebar-navigation{
    padding-left: 10px;
    display: grid;
    gap: 18px;
}
.sidebar .navigation-cell{
    gap: 20px;
}
.navigation_cell{
    gap: 20px;
}
.sidebar .navigation-cell>svg{
    width: 1.5rem;
}
.navigation-cell>a{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-family: robotoregular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*main-content*-styles*/

.main-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    background-color: rgb(235, 235, 235);
    gap: 20px;
    font-family: robotoregular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    gap: 20px;
    margin-top: 15px;
}
.project-card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border-left: 8px solid rgb(255, 200, 19);
    box-shadow: 1px 3px 5px rgb(194, 194, 194);
}
.project-card-icon>svg{
    width: 1.5rem;
}
.project-card-icon{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 34px;
}
.project-card>h3{
    margin-bottom: 5px;
    font-family: robotoregular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.project-card>p{
    color: rgb(116, 116, 116);
    font-family: robotoregular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*announcement-and-trending-styles*/

.announcement-and-trending{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    align-content: start;
    margin-right: 20px;
}
.announcement-section>h2{
    margin-bottom: 15px;
    font-family: robotoregular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.announcement-card{
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    font-family: robotoregular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.announcement-card>div:first-of-type{
    padding-bottom: 20px;
}
.announcement-card>div:first-of-type+div{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgb(205, 205, 205);
    border-bottom: 1px solid rgb(205, 205, 205);
}
.announcement-card>div:last-of-type{
    padding-top: 20px;
}
.announcement-card>div>p{
    color: rgb(116, 116, 116);
}
.trending-section>h2{
    margin-bottom: 15px;
    font-family: robotoregular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.trending-card{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    gap: 20px;
    font-family: robotoregular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.trending-card-cell{
    display: flex;
    gap: 15px;
}
.trending-card-cell p:last-of-type{
    color: rgb(116, 116, 116);
}
.trending-card-cell img{
    border-radius: 50%;
    width: 2.3rem;
}
